/* Makes the font of the entire page 'Arial' */
body {
  font-family: Arial;
}
/* Creates the selected class with the border, opacity and outline */
.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 5px;
}
